<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>Section: {{titulo}}</h1>
    </div>

    {{>footer}}
</body>
</html>